.center {
  max-width: 500px;
  max-height: 8000px;
  margin: auto;
  background: white;
  padding: 10px;
}


.center h1{
  text-align: center;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; text-align: right; padding-right: 3px;}
input { display: table-cell; }